{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "import",
    "node",
    "promise",
    "standard",
    "react-hooks"
  ],
  "extends": ["plugin:react/recommended", "plugin:prettier/recommended", "eslint:recommended", "prettier"],
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 2019,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-console": "off",
    "react-hooks/rules-of-hooks": "warn",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": [
      "error", {
        "endOfLine": "auto"
      }
    ],
    "no-unused-vars":"warn",
    "object-shorthand":"off",
    "class-methods-use-this":"off"
  },
  "overrides": []
}